################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AvailabilitySites/bin/Debug/net5.0
/AvailabilitySites/obj
/AvailabilitySites/wwwroot/lib
/AvailabilitySites/wwwroot
/.vs/AvailabilitySites
/AvailabilitySites/bin/Debug/net6.0
